<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8" />
	{{{_sections.pageTitle}}}
	<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet" />
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
	{{{_sections.pageStyles}}}
	
</head>

<body>

	<!-- Navigation bar -->
	<nav class="navbar navbar-default navbar-styling">
		<div class="navbar-header">
            <a href="/publicStories" class="navbar-brand">Public stories</a>

			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsedNav">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse " id="collapsedNav">
			<ul class="nav navbar-nav navbar-right">
                <li><a href="/apiKey"><span class="glyphicon glyphicon-send"></span>Register for API Key</a></li>
                <li><a href="/apidoc"><span class="glyphicon glyphicon-list-alt"></span>API Docs</a></li>
				<li><a href="/write"><span class="glyphicon glyphicon-pencil"></span>Write story</a></li>
				<li><a href="/self-stories"><span class="glyphicon glyphicon-book"></span>My stories</a></li>
				<li><a href="/dashboard"><span class="glyphicon glyphicon-dashboard"></span>Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
		</div>
	</nav>
        <strong>Private layout</strong>
        Current layout is main_private.hbs
        <br><br>
    {{{body}}}
	</body>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	{{{_sections.pageScripts}}}

	</html>