
{{#section 'pageTitle'}}
<title>Dashboard</title>
{{/section}}


<header class="container">
	<div class="row">
		<h1>Dashboard</h1>
	</div>
</header>

<section class="container">
	<h2>Profile</h2>
	 <form name="profileForm" method="POST" action="updateProfile">
        <div class="form-group">
            <label for="firstName">First name:</label>
            <input type="text" class="form-control" id="firstName" name="firstName" />
        </div>
        <div class="form-group">
            <label  for="lastName">Last name:</label>
            <input type="text" class="form-control" id="lastName" name="lastName"/>
        </div>
        <div class="form-group">
            <label  for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email"/>
        </div>
        <div class="form-group">
            <label for="interests">Interests:</label>
            <input type="text" class="form-control" id="interests" name="interests"/>
        </div> 
        <div class="form-group">
            <label>Date joined:</label>
            <p id="dateJoined" />
        </div>
         <button type="submit">SUBMIT!!!</button>
    </form>
</section>


{{#section 'pageScripts'}}
    <script src="/scripts/dashboard.js"></script>
{{/section}}