
{{#section 'pageStyles'}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" /> <!-- load fontawesome -->
    <style>
        .facebook-button {
            font-size: 2rem;
        }

    </style>

{{/section}}

<div class="container">
    <div class="jumbotron">
        <h1>Welcome to siteName<small>,a story-sharing site</small></h1>
        <br>
        <h2 class="text-center text-success">Read stories from other authors or share your own!</h2>
        <br>
        {{#if isNotLoggedIn}}
        <p class="text-center">
            <a href="/auth/facebook" class="btn btn-primary btn-large facebook-button"><span class="fa fa-facebook">&nbsp;&nbsp;&nbsp;&nbsp;</span>Login with Facebook</a>
        </p>
        {{/if}}
        <br>
    </div>
</div>

<div class="container">
    <h2>Top stories</h2>
    <div class="row">
        {{#each topStoryPreviews}}
            <div class="col-sm-4 col-md-3 ">
                {{> storyPreview this}}
            </div>
        {{/each}}
    </div>
</div>