.storyPreview {
	border: 1px solid brown;
	padding: 0.5rem 2rem;
	height: 20em; /* setting an explicit height is not be a good idea because of overflow if width gets smaller, temporary fix */
	overflow: hidden;
	margin-bottom: 2em;
	text-overflow: ellipsis;
}

.suppressHyperlinkStyle {
	color: inherit;
	text-decoration: none;
}

.suppressHyperlinkStyle:hover{
	text-decoration: none;
	/*border: 1px solid green*/
}

.storyPreview > .subTitle {
	font-size:1.2em;
	font-family: "Calibri";
}

.storyPreview > .title {
	font-family: 'Times New Roman';
	font-weight: bold;
	margin-bottom: 1.3em;
}

hr {
	margin: 1em;
	padding: 0;
}